# phpstorm project files
.idea
.DS_Store
.idea/gaea-api.iml
.idea/misc.xml
# ignore directory venv
venv

# ignore directory supervisor
supervisor

# ignore directory environment/dev
# environment/dev

# 忽略生产的pyc文件
*.pyc

# 日志文件
*.log.*

# 项目配置文件
conf/*.conf

# 项目文件
*.xml

# 忽略测试Controller文件
controller/Test*

# 忽略测试文件
*.iml