{
    "gbiz": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "gbiz{0}",
        "port": 3306
    },
    "biz-central": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "biz{0}",
        "port": 3306
    },
    "biz": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "biz{0}",
        "port": 3306
    },
    "rbiz": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "rbiz{0}",
        "port": 3306
    },
    "paysvr": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "paysvr{0}",
        "port": 3306
    },
    "payment": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "payment_{0}",
        "port": 3306
    },
    "dataproxy": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "dataproxy2",
        "port": 3306
    },
    "lanmao_test": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "lanmao_test2",
        "port": 3306
    },
    "qnn_clearing": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "qnn_clearing2",
        "port": 3306
    },
    "interest": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "interest1",
        "port": 3306
    },
    "msgsvr_dev": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "msgsvr_dev",
        "port": 3306
    },
    "contract": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "contract",
        "port": 3306
    },
    "contractsvr": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "contractsvr",
        "port": 3306
    },
    "capital": {
        "host": "127.0.0.1",
        "username": "capital",
        "password": "piqXNdySXa2bLsbE",
        "database": "capital{0}",
        "port": 3322
    },
    "cmdb": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "cmdb_v1",
        "port": 3306
    },
    "qsq_fox": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "qsq_fox",
        "port": 3321
    },
    "qsq_fox_log": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "qsq_fox_log",
        "port": 3321
    }
}