{
    "grant_thailand": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "0Q^0bBURuSvS3#PB",
        "database": "tha_gbiz{0}",
        "port": 3511,
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf6seazei9e71x831.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 3511
        }
    },
    "repay_thailand": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "0Q^0bBURuSvS3#PB",
        "database": "tha_rbiz{0}",
        "port": 3521,
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf6seazei9e71x831.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 3521
        }
    },
    "payment_thailand": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "0Q^0bBURuSvS3#PB",
        "database": "tha_payment_test{0}",
        "port": 3531,
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf6seazei9e71x831.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 3531
        }
    }
}