{
    "gbiz_tha": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "0Q^0bBURuSvS3#PB",
        "database": "tha_gbiz{0}",
        "port": 3511,
        "ssh": {
            "ssh_proxy_host": "47.116.2.104",
            "ssh_remote_host": "rm-uf6seazei9e71x831.mysql.rds.aliyuncs.com",
            "ssh_user_name": "ssh-proxy",
            "ssh_private_key": "./resource/dx_ssh_proxy",
            "ssh_bind_port": 3511
        }
    },
    "rbiz_tha": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "0Q^0bBURuSvS3#PB",
        "database": "tha_rbiz{0}",
        "port": 3521,
        "ssh": {
            "ssh_proxy_host": "47.116.2.104",
            "ssh_remote_host": "rm-uf6seazei9e71x831.mysql.rds.aliyuncs.com",
            "ssh_user_name": "ssh-proxy",
            "ssh_private_key": "./resource/dx_ssh_proxy",
            "ssh_bind_port": 3521
        }
    },
    "payment_thailand": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "0Q^0bBURuSvS3#PB",
        "database": "tha_payment_test{0}",
        "port": 3531,
        "ssh": {
            "ssh_proxy_host": "47.116.2.104",
            "ssh_remote_host": "rm-uf6seazei9e71x831.mysql.rds.aliyuncs.com",
            "ssh_user_name": "ssh-proxy",
            "ssh_private_key": "./resource/dx_ssh_proxy",
            "ssh_bind_port": 3531
        }
    }
}