{
    "gaea_framework": {
        "host": "10.1.0.15",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "gaea_framework",
        "port": 3306
    },
    "gbiz": {
        "host": "10.1.0.15",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "gbiz{0}",
        "port": 3306
    },
    "biz": {
        "host": "10.1.0.15",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "biz{0}",
        "port": 3306
    },
    "rbiz": {
        "host": "10.1.0.15",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "rbiz{0}",
        "port": 3306
    },
    "paysvr": {
        "host": "10.1.0.15",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "paysvr{0}",
        "port": 3306
    },
    "payment": {
        "host": "10.1.0.15",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "payment_{0}",
        "port": 3306
    },
    "dataproxy": {
        "host": "10.1.0.15",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "dataproxy2",
        "port": 3306
    },
    "global_rbiz_india": {
        "host": "127.0.0.1",
        "username": "biz_test",
        "password": "1Swb3hAN0Hax9p",
        "database": "global_rbiz{0}",
        "port": 4331,
        "url":"",
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 4331
        }
    },
    "global_gbiz_india": {
        "host": "127.0.0.1",
        "username": "biz_test",
        "password": "1Swb3hAN0Hax9p",
        "database": "global_gbiz{0}",
        "port": 3331,
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 3331
        }
    },
    "lanmao_test": {
        "host": "10.1.0.15",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "lanmao_test2",
        "port": 3306
    },
    "qnn_clearing": {
        "host": "10.1.0.15",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "qnn_clearing2",
        "port": 3306
    },
    "interest": {
        "host": "10.1.0.15",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "interest1",
        "port": 3306
    },
    "msgsvr_dev": {
        "host": "10.1.0.15",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "msgsvr_dev",
        "port": 3306
    },
    "global_payment_india": {
        "host": "127.0.0.1",
        "username": "biz_test",
        "password": "1Swb3hAN0Hax9p",
        "database": "global_payment_test{0}",
        "port": 3349,
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 3349
        }
    },
    "contract": {
        "host": "10.1.0.15",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "contract",
        "port": 3306
    },
    "contractsvr": {
        "host": "10.1.0.15",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "contractsvr",
        "port": 3306
    },
    "capital": {
        "host": "10.1.1.5",
        "username": "capital",
        "password": "piqXNdySXa2bLsbE",
        "database": "capital{0}",
        "port": 3322
    },
    "cmdb": {
        "host": "10.1.0.15",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "cmdb_v1",
        "port": 3306
    },
    "global_gbiz_thailand": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "0Q^0bBURuSvS3#PB",
        "database": "tha_gbiz{0}",
        "port": 3511,
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf6seazei9e71x831.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 3511
        }
    },
    "global_rbiz_thailand": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "0Q^0bBURuSvS3#PB",
        "database": "tha_rbiz{0}",
        "port": 3521,
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf6seazei9e71x831.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 3521
        }
    },
    "global_payment_thailand": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "0Q^0bBURuSvS3#PB",
        "database": "tha_payment_test{0}",
        "port": 3531,
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf6seazei9e71x831.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 3531
        }
    },
    "global_gbiz_philippines": {
        "host": "127.0.0.1",
        "username": "troot",
        "password": "QZOzz46rUjs$$PIKL8",
        "database": "phl_gbiz{0}",
        "port": 3511,
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf6589ct883rjc052.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 3511
        }
    },
    "global_rbiz_philippines": {
        "host": "127.0.0.1",
        "username": "troot",
        "password": "QZOzz46rUjs$$PIKL8",
        "database": "phl_rbiz1",
        "port": 3521,
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf6589ct883rjc052.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 3521
        }
    },
    "global_payment_philippines": {
        "host": "127.0.0.1",
        "username": "troot",
        "password": "QZOzz46rUjs$$PIKL8",
        "database": "phl_payment_test{0}",
        "port": 3531,
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf6589ct883rjc052.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 3531
        }
    },
    "qsq_fox": {
        "host": "10.1.0.15",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "qsq_fox",
        "port": 3321
    },
    "qsq_fox_log": {
        "host": "10.1.0.15",
        "username": "root",
        "password": "Coh8Beyiusa7",
        "database": "qsq_fox_log",
        "port": 3321
    }
}