{
    "repay_india": {
        "host": "127.0.0.1",
        "username": "biz_test",
        "password": "1Swb3hAN0Hax9p",
        "database": "global_rbiz{0}",
        "port": 4331,
        "url":"",
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 4331
        }
    },
    "grant_india": {
        "host": "127.0.0.1",
        "username": "biz_test",
        "password": "1Swb3hAN0Hax9p",
        "database": "global_gbiz{0}",
        "port": 3331,
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 3331
        }
    },
    "payment_india": {
        "host": "127.0.0.1",
        "username": "biz_test",
        "password": "1Swb3hAN0Hax9p",
        "database": "global_payment_test{0}",
        "port": 3349,
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf60ec1554fou12qk33150.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 3349
        }
    }
}