{
    "gbiz_mex": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "uJQaHO5Gh817x9Ew",
        "database": "mex_gbiz{0}",
        "port": 3511
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf6z2o8w9rure4as4.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 3511
        }
    },
    "rbiz_mex": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "uJQaHO5Gh817x9Ew",
        "database": "mex_rbiz{0}",
        "port": 3521
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf6z2o8w9rure4as4.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 3521
        }
    },
    "payment_mex": {
        "host": "127.0.0.1",
        "username": "root",
        "password": "uJQaHO5Gh817x9Ew",
        "database": "mex_payment_test{0}",
        "port": 3531
        "ssh": {
            "sshproxyhost": "47.116.2.104",
            "sshremotehost": "rm-uf6z2o8w9rure4as4.mysql.rds.aliyuncs.com",
            "sshusername": "ssh-proxy",
            "sshprivatekey": "./resource/dx_ssh_proxy",
            "sshbindport": 3531
        }
    }
}